/*公共样式*/
-moz-transition: all 0.3s; /* Firefox 4 */
-webkit-transition: all 0.3s; /* Safari 和 Chrome */
-o-transition: all 0.3s; /* Opera */}
.layui-main{width:auto;margin:15px;}
.hide{display: none;} 
.clear{clear:both;}

/* 头部 */
.layui-layout-admin{min-width: 1200px;}
.layui-layout-admin .header{height: 65px;background-color: #393D49; color: #fff;border-bottom: 5px solid #009688;}
.layui-layout-admin .logo{position: absolute; left: 10px; top: 0px;}
.layui-layout-admin .logo img{width: 200px; height: 65px;}

.layui-layout-admin .header .layui-nav{position: absolute; left: 200px; top: 0px; padding: 0; background: none;}
.layui-layout-admin .header .layui-nav .layui-nav-item{margin: 0 5px; line-height: 70px;}
.layui-layout-admin .header .layui-nav .layui-nav-item a{padding:0 20px;}
.layui-layout-admin .header .layui-nav .layui-this{background: #4E5465;}
.layui-layout-admin .header .layui-nav .layui-nav-bar{background: #393D49;}
.layui-layout-admin .header .layui-nav .layui-this:after{background: #4E5465;}

.layui-layout-admin .top_admin_user{float: right;color: #c2c2c2;line-height: 85px;margin-right: 10px}
.layui-layout-admin .top_admin_user a{color: #c2c2c2;padding:0 15px;}
.layui-layout-admin .top_admin_user a:hover{color: #fff;}

/* 左边导航 */
.layui-layout-admin .layui-side{top:70px;}
.layui-layout-admin .layui-nav-item .layui-icon{font-size: 18px;top:3px;}
.layui-layout-admin .layui-nav-item .layui-icon{padding:0 10px;}

/* 底部 */
.layui-layout-admin .footer{height: auto; padding: 15px 0; line-height: 26px;text-align: center; background-color: #eee; color: #666; font-weight: 300;min-width: 1000px;}
.layui-layout-admin .footer a{padding: 0 5px;}

/*iframe*/
.layui-layout-admin .iframe-container{bottom:56px;min-width:1000px;}
.layui-layout-admin .iframe-container .iframe-mask{position: absolute;border:0;width: 100%;height: 100%;background-color:#ccc;z-index: 10;display: none;background-image: url('../layui/css/modules/layer/default/loading-2.gif');background-position: center;background-repeat: no-repeat;} 
.layui-layout-admin .admin-iframe{position: absolute;border:0;width: 100%;height: 100%}




