form {
	padding-left: 1%;
	padding-right: 1%;
}
h2, h3 {
	text-align: center;
	margin-bottom: 20px;
}

button[lay-filter="save"], button[lay-filter="deliver"], button[lay-filter="cancel"] {
	margin-left: 40%;
}
.label_change {
	min-width: 120px!important;
}
.input_change {
	min-width: 250px;
}
.toph2 {
	text-align: center;
	margin-top: 10px;
	margin-bottom: 20px;
}
.toph2 h2 {
	display: inline-block;
	margin: 0 auto;
}
.fa {
	float: right;
	cursor: pointer;
}

/*对lable标签和input输入标签颜色的设定开始*/
label,input,div[pane=""]{
	border-color:#000000!important;
}
.light_gray,.light_gray:hover,.light_gray .layui-select-title input{
	background-color:#D3D3D3!important;
}
.dark_blue,.dark_blue:hover,.dark_blue .layui-select-title input{
	background-color:#6495ED!important;
}
.light_blue,.light_blue:hover,.light_blue .layui-select-title input{
	background-color:#C6E2FF!important;
}
.light_green,.light_green:hover,.light_green .layui-select-title input {
	background-color: #90EE90!important;border-color:#000000!important;
}
.Wheat,.Wheat:hover,.Wheat th,.Wheat .layui-select-title input {
	background-color: #F5DEB3!important;
	border-color:#000000!important;
}
/*对lable标签和input输入标签颜色的设定结束*/
