<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title></title>
        <link rel="stylesheet" type="text/css" href="/static/layui/css/layui.css"> 
    	<link rel="stylesheet" type="text/css" href="/static/css/public.css">
    </head>
    <body>
        <form class="layui-form layui-form-pane" action="">
        	<div class="toph2">
            	<h2>维修确认单</h2>
           	</div>
            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label">日期</label>
                    <div class="layui-input-inline">
                        <input type="text" name="date" id="date1" autocomplete="on" class="layui-input"> </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">接收时间</label>
                    <div class="layui-input-inline">
                        <input type="text" name="orderdate" id="date2" autocomplete="on" class="layui-input"> </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">流水号</label>
                    <div class="layui-input-inline">
                        <input type="text" name="swiftnumber" id="swiftnumber" lay-verify="" autocomplete="on" placeholder="" class="layui-input"> </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label dark_blue">状态</label>
                    <div class="layui-input-inline">
                        <select name="status">
                            <option value="" disabled="" selected="">选择</option>
                            <option value="已完成">已完成</option>
                            <option value="待处理">待处理</option>
                            <option value="处理中">处理中</option>
                            <option value="备货">备货</option>
                            <option value="取消">取消</option>
                        </select>
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">部门编号</label>
                    <div class="layui-input-inline">
                        <input type="text" name="departmentnumber" id="departmentnumber" autocomplete="on" class="layui-input"> </div>
                </div>
            </div>
            <h3>物流信息</h3>
            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label">发货日期</label>
                    <div class="layui-input-inline">
                        <input type="text" name="deliverydate" id="date3" autocomplete="on" class="layui-input"> </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">货场</label>
                    <div class="layui-input-inline">
                        <input type="text" name="goodsyard" id="goodsyard" lay-verify="" autocomplete="on" placeholder="" class="layui-input"> </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">物流单号</label>
                    <div class="layui-input-inline">
                        <input type="text" name="trackingnumber" id="trackingnumber" lay-verify="" autocomplete="on" placeholder="" class="layui-input"> </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">件数</label>
                    <div class="layui-input-inline">
                        <input type="text" name="packagesnumber" id="packagesnumber" id lay-verify="" autocomplete="on" placeholder="" class="layui-input"> </div>
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label Wheat">部门</label>
                    <div class="layui-input-inline">
                        <input type="text" name="department" id="department" lay-verify="" autocomplete="on" placeholder="" class="layui-input"> </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label Wheat">区域经理</label>
                    <div class="layui-input-inline">
                        <input type="text" name="areamanager" id="areamanager" lay-verify="" autocomplete="on" placeholder="" class="layui-input"> </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label Wheat label_change">区域经理电话</label>
                    <div class="layui-input-inline">
                        <input type="text" name="areamanagertel" id="areamanagertel" lay-verify="" autocomplete="on" placeholder="" class="layui-input"> </div>
                </div>
            </div>
            <h3>客户信息</h3>
            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label Wheat">公司名称</label>
                    <div class="layui-input-inline">
                        <input type="text" name="companyname" id="companyname" lay-verify="" autocomplete="on" placeholder="" class="layui-input"> </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label Wheat label_change">公司电话/传真</label>
                    <div class="layui-input-inline">
                        <input type="text" name="companytel" id="companytel" lay-verify="" autocomplete="on" placeholder="" class="layui-input"> </div>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label Wheat">公司地址</label>
                <div class="layui-input-block">
                    <input type="text" name="companyaddress" id="companyaddress" autocomplete="on" placeholder="" class="layui-input"> </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label Wheat">法人代表</label>
                    <div class="layui-input-inline">
                        <input type="text" name="legalrepresentative" id="legalrepresentative" lay-verify="" autocomplete="on" placeholder="" class="layui-input"> </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label Wheat">法人电话</label>
                    <div class="layui-input-inline">
                        <input type="text" name="legalpersontel" id="legalpersontel" lay-verify="" autocomplete="on" placeholder="" class="layui-input"> </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label Wheat">公司联系人</label>
                    <div class="layui-input-inline">
                        <input type="text" name="companycontact" id="companycontact" lay-verify="" autocomplete="on" placeholder="" class="layui-input"> </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label Wheat">联系人电话</label>
                    <div class="layui-input-inline">
                        <input type="text" name="contacttel" id="contacttel" lay-verify="" autocomplete="on" placeholder="" class="layui-input"> </div>
                </div>
            </div>
            <h3>发货信息</h3>
            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label Wheat">收货人姓名</label>
                    <div class="layui-input-inline">
                        <input type="text" name="consigneenamefirst" id="consigneenamefirst" lay-verify="" autocomplete="on" placeholder="" class="layui-input"> </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label Wheat">收货人电话</label>
                    <div class="layui-input-inline">
                        <input type="text" name="consigneetelfirst" id="consigneetelfirst" lay-verify="" autocomplete="on" placeholder="" class="layui-input"> </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label Wheat">货场名称</label>
                    <div class="layui-input-inline">
                        <input type="text" name="goodsyardnamefirst" id="goodsyardnamefirst" lay-verify="" autocomplete="on" placeholder="" class="layui-input"> </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label Wheat">货场电话</label>
                    <div class="layui-input-inline">
                        <input type="text" name="goodsyardtelfirst" id="goodsyardtelfirst" lay-verify="" autocomplete="on" placeholder="" class="layui-input"> </div>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label Wheat">收货地址</label>
                <div class="layui-input-block">
                    <input type="text" name="shippingaddressfirst" id="shippingaddressfirst" lay-verify="" autocomplete="on" placeholder="" class="layui-input"> </div>
            </div>
            <div class="layui-form-item" pane="">
                <label class="layui-form-label Wheat">是否买保险</label>
                <div class="layui-input-block">
                    <input type="radio" name="purchase" value="买" title="买" checked="">
                    <input type="radio" name="purchase" value="不买" title="不买"> </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label Wheat">保额</label>
                    <div class="layui-input-inline">
                        <input type="text" name="coverage" id="coverage" lay-verify="" autocomplete="on" placeholder="" class="layui-input"> </div>
                </div>
            </div>
            <div class="layui-form-item" pane="">
                <label class="layui-form-label Wheat">客户性质</label>
                <div class="layui-input-block">
                    <input type="radio" name="signed" value="签约" title="签约" checked="">
                    <input type="radio" name="signed" value="非签约" title="非签约"> </div>
            </div>
            <div class="layui-form-item" pane="">
                <label class="layui-form-label Wheat">销售合同</label>
                <div class="layui-input-block">
                    <input type="radio" name="salescontract" value="有" title="有" checked="">
                    <input type="radio" name="salescontract" value="无" title="无"> </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label Wheat">运费方式</label>
                    <div class="layui-input-inline">
                        <select name="freightway">
                            <option value="" disabled="" selected="">选择</option>
                            <option value="到付">到付</option>
                            <option value="现金">现金</option>
                            <option value="代付">代付</option>
                            <option value="公司付">公司付</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label Wheat label_change">订单发货要求</label>
                <div class="layui-input-inline">
                    <input type="text" name="ordershipmentsrequest" id="ordershipmentsrequest" lay-verify="" autocomplete="on" placeholder="" class="layui-input input_change"> </div>
            </div>
            <h3>返货信息</h3>
            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label Wheat">收货人姓名</label>
                    <div class="layui-input-inline">
                        <input type="text" name="consigneenamesecond" id="consigneenamesecond" lay-verify="" autocomplete="on" placeholder="" class="layui-input"> </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label Wheat">收货人电话</label>
                    <div class="layui-input-inline">
                        <input type="text" name="consigneetelsecond" id="consigneetelsecond" lay-verify="" autocomplete="on" placeholder="" class="layui-input"> </div>
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label Wheat">货场名称</label>
                    <div class="layui-input-inline">
                        <input type="text" name="goodsyardnamesecond" id="goodsyardnamesecond" lay-verify="" autocomplete="on" placeholder="" class="layui-input"> </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label Wheat">货场电话</label>
                    <div class="layui-input-inline">
                        <input type="text" name="goodsyardtelsecond" id="goodsyardtelsecond" lay-verify="" autocomplete="on" placeholder="" class="layui-input"> </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label Wheat">返货单号</label>
                    <div class="layui-input-inline">
                        <input type="text" name="returninvoiceno" id="returninvoiceno" lay-verify="" autocomplete="on" placeholder="" class="layui-input"> </div>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label Wheat">收货地址</label>
                <div class="layui-input-block">
                    <input type="text" name="shippingaddressecond" id="shippingaddressecond" lay-verify="" autocomplete="on" placeholder="" class="layui-input"> </div>
            </div>
            <h3>部门总监审批</h3>
            <div class="layui-form-item">
                <label class="layui-form-label Wheat">审批内容</label>
                <div class="layui-input-block">
                    <input type="text" name="examinationapprovalcontentfirst" id="examinationapprovalcontentfirst" lay-verify="" autocomplete="on" placeholder="" class="layui-input"> </div>
            </div>
            <div class="layui-form-item" pane="">
                <label class="layui-form-label light_green">审批意见</label>
                <div class="layui-input-block">
                    <input type="radio" name="departmentdirectoradvice" value="同意" title="同意" checked="">
                    <input type="radio" name="departmentdirectoradvice" value="不同意" title="不同意"> </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label light_green">审批日期</label>
                    <div class="layui-input-inline">
                        <input type="text" name="examinationapprovaldatefirst" id="date4" autocomplete="on" class="layui-input"> </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label light_green">备注</label>
                    <div class="layui-input-inline">
                        <input type="text" name="remarkfirst" id="remarkfirst" lay-verify="" autocomplete="on" placeholder="" class="layui-input"> </div>
                </div>
            </div>
            <h3>执行总经理审批</h3>
            <div class="layui-form-item">
                <label class="layui-form-label Wheat">审批内容</label>
                <div class="layui-input-block">
                    <input type="text" name="examinationapprovalcontentsecond" id="examinationapprovalcontentsecond" lay-verify="" autocomplete="on" placeholder="" class="layui-input"> </div>
            </div>
            <div class="layui-form-item" pane="">
                <label class="layui-form-label light_green">审批意见</label>
                <div class="layui-input-block">
                    <input type="radio" name="executivegeneralmanageradvice" value="同意" title="同意" checked="">
                    <input type="radio" name="executivegeneralmanageradvice" value="不同意" title="不同意"> </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label light_green">审批日期</label>
                    <div class="layui-input-inline">
                        <input type="text" name="examinationapprovaldatesecond" id="date5" autocomplete="on" class="layui-input"> </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label light_green">备注</label>
                    <div class="layui-input-inline">
                        <input type="text" name="remarksecond" id="remarksecond" lay-verify="" autocomplete="on" placeholder="" class="layui-input"> </div>
                </div>
            </div>
            <h3>财务审批</h3>
            <div class="layui-form-item">
                <label class="layui-form-label Wheat">审批内容</label>
                <div class="layui-input-block">
                    <input type="text" name="examinationapprovalcontentthird" id="examinationapprovalcontentthird" lay-verify="" autocomplete="on" placeholder="" class="layui-input"> </div>
            </div>
            <div class="layui-form-item" pane="">
                <label class="layui-form-label light_green">审批意见</label>
                <div class="layui-input-block">
                    <input type="radio" name="financedirectoradvice" value="同意" title="同意" checked="">
                    <input type="radio" name="financedirectoradvice" value="不同意" title="不同意"> </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label light_green">审批日期</label>
                    <div class="layui-input-inline">
                        <input type="text" name="examinationapprovaldatethird" id="date6" autocomplete="on" class="layui-input"> </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label light_green">备注</label>
                    <div class="layui-input-inline">
                        <input type="text" name="remarkthird" id="remarkthird" lay-verify="" autocomplete="on" placeholder="" class="layui-input"> </div>
                </div>
            </div>
            <h3>款项情况</h3>
            <div class="layui-form-item" pane="">
                <label class="layui-form-label dark_blue">是否到账</label>
                <div class="layui-input-block">
                    <input type="radio" name="accountstatus" value="是" title="是" checked="">
                    <input type="radio" name="accountstatus" value="否" title="否"> </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label dark_blue">到账日期</label>
                    <div class="layui-input-inline">
                        <input type="text" name="date" id="date7" autocomplete="on" class="layui-input"> </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label dark_blue">订制费用</label>
                    <div class="layui-input-inline">
                        <input type="text" name="custommoney" lay-verify="" autocomplete="on" placeholder="" class="layui-input"> </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label dark_blue">运费</label>
                    <div class="layui-input-inline">
                        <input type="text" name="transportationexpense" lay-verify="" autocomplete="on" placeholder="" class="layui-input"> </div>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label dark_blue">备注</label>
                <div class="layui-input-block">
                    <input type="text" name="remarkforth" id="remarkforth" lay-verify="" autocomplete="on" placeholder="" class="layui-input"> </div>
            </div>
            <h3>订购清单</h3>
            <table class="layui-table">
                <colgroup>
                    <!--<col width="150">
                    <col width="200">
                    <col> -->
                </colgroup>
                <thead>
                    <tr class="Wheat">
                        <th>序号</th>
                        <th>产品分类</th>
                        <th>品牌</th>
                        <th>生产地</th>
                        <th>产品名称</th>
                        <th>规格</th>
                        <th>型号</th>
                        <th>单位</th>
                        <th>数量</th>
                        <th>条码</th>
                        <th>归还日期</th>
                        <th>更换代用原因</th>
                        <th class="dark_blue">产品状态</th>
                        <th class="dark_blue">非常规产品</th>
                        <th class="dark_blue">备注</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>
                            <!--<div class="layui-form-item">-->
                            <!--<div class="layui-inline">-->
                            <!-- <div class="layui-input-inline">-->
                            <select name="productclassification">
                                <option value="" disabled="" selected="">选择</option>
                                <option value="公共广播">公共广播</option>
                                <option value="会议系统">会议系统</option>
                                <option value="地铁事业">地铁事业</option>
                                <option value="澳斯迪">澳斯迪</option>
                                <option value="录播">录播</option>
                            </select>
                            <!--</div>-->
                            <!--</div>-->
                            <!--</div>-->
                        </td>
                        <td>
                            <select name="brand">
                                <option value="" disabled="" selected="">选择</option>
                                <option value="DSPPA">DSPPA</option>
                                <option value="ZABKZ">ZABKZ</option>
                                <option value="OTEWA">OTEWA</option>
                                <option value="AUXDI">AUXDI</option>
                                <option value="外购">外购</option>
                            </select>
                        </td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>4</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td class="Wheat">其它说明</td>
                        <td colspan="14"></td>
                    </tr>
                    <tr>
                        <td class="dark_blue">情况说明</td>
                        <td colspan="14"></td>
                    </tr>
                </tbody>
            </table>
            <div class="layui-form-item">
                <div class="layui-btn-container">
                    <button class="layui-btn layui-btn-normal" lay-submit="" lay-filter="demo1">保存</button>
                    <button class="layui-btn" lay-submit="" lay-filter="demo2">转交</button>
                    <button class="layui-btn layui-btn-primary" lay-submit="" lay-filter="demo3">取消</button>
                </div>
            </div>
        </form>
        <script type="text/javascript" src="/static/layui/layui.js"></script>
        <script type="text/javascript">
            layui.use(['form', 'layedit', 'laydate'], function () {
                var form = layui.form,
                    layer = layui.layer,
                    layedit = layui.layedit,
                    laydate = layui.laydate;
                /*日期*/
                laydate.render({
                    elem: '#date1'
                    ,position: 'fixed'
                    ,theme: 'molv'
                });
                laydate.render({
                    elem: '#date2'
                    ,position: 'fixed'
                    ,theme: 'molv'
                });
                laydate.render({
                    elem: '#date3'
                    ,position: 'fixed'
                    ,theme: 'molv'
                });
                laydate.render({
                    elem: '#date4'
                    ,position: 'fixed'
                    ,theme: 'molv'
                });
                laydate.render({
                    elem: '#date5'
                    ,position: 'fixed'
                    ,theme: 'molv'
                });
                laydate.render({
                    elem: '#date6'
                    ,position: 'fixed'
                    ,theme: 'molv'
                });
                laydate.render({
                    elem: '#date7'
                    ,position: 'fixed'
                    ,theme: 'molv'
                });
           
            //监听提交
            form.on('submit(demo1)', function (data) {
                layer.alert(JSON.stringify(data.field), {
                    title: '最终的提交信息'
                })
                return false;
            });
          });
        </script>
    </body>
</html>