<!DOCTYPE html>
<html>
<head>
	<title>登录页面</title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1">
	<link rel="stylesheet" type="text/css" href="/static/layui/css/layui.css">
</head>
<body>
	<div class="layui-container">
		<form class="layui-form"  style="padding-top: 25%;"> 
			<div class="layui-form-item">
				<label class="layui-form-label">用户名:</label>
				<div class="layui-input-inline">
					<input type="text" name="username" required lay-verify="required" placeholder="请输入用户名" autocomplete="off" class="layui-input">
				</div>
			</div>

			<div class="layui-form-item">
				<label class="layui-form-label">密码:</label>
				<div class="layui-input-inline">
					<input type="password" name="password"  required lay-verify="required" placeholder="请输入密码" autocomplete="off" class="layui-input">
				</div>
			</div>

			<div class="layui-form-item">
			    <div class="layui-input-block">
			      <button class="layui-btn" lay-submit lay-filter="login">登录</button>
			    </div>
		  	</div>
		</form>
	</div>
	<script src="/static/layui/layui.js"></script>
	<script type="text/javascript">
		layui.use(['jquery','form','layer'],function(){
			var jq = layui.jquery, form = layui.form, layer = layui.layer;

			/*监听登录按键*/
			form.on('submit(login)',function(data){
				var userinfo = data.field;

				jq.post("{:url('index/login/loginconfirm')}",{'fullname':userinfo.username,'password':userinfo.password},function(data){
					if(data){
						layer.msg('登录成功', {
							  icon: 1,
							  time: 1000
							}, function(){
							  location.href = "/index/adminindex/index";
						}); 
					}else{
						layer.msg('登录失败',{icon:2});
					}
				});

				return false;
			});
		});
	</script>
</body>
</html>