<!DOCTYPE html>
<html>
	<head>
		<title>维修确认单审批</title>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1">
		<link rel="stylesheet" type="text/css" href="/static/layui/css/layui.css">
	</head>
	<body>
		{include file="publictemplate/approveserachcondtion"/}
		<div style="margin:20px 10px;">
			<div><h2>维修待审批订单</h2></div>
			<table class="layui-hide" id="repairorder" lay-filter="repairorder"></table>
			<script type="text/html" id="operatebar">
			  <a class="layui-btn layui-btn-xs" lay-event="detail">查看详情</a>
			</script>
		</div>
		<script src="/static/layui/layui.js"></script>
		<script type="text/javascript">
			layui.use(['layer','jquery','laydate','form','table'],function(){
				var form = layui.form ,layer = layui.layer,jq = layui.jquery,laydate = layui.laydate,table = layui.table;

				/*时间控件渲染*/
				laydate.render({
				    elem: '#startdate'
				});
				
				laydate.render({
				    elem: '#enddate'
				});

				/*监听查询按钮*/
				form.on('submit(query)',function(data){
					var queryInfo = data.field;

  			      	table.reload('querytable', {
				        page: {
				          curr: 1
				        }
				        ,where: {
				            queryInfo: queryInfo
				        }
			      	});
		  			return false;
				});

				/*表格渲染*/
				table.render({
				    elem: '#repairorder'
				    ,url:"{:url('admin/approverepairconfirmorder/getexamineorder')}"     //动态获取数据
				    ,cols: [[
                        {field:'serial_number',title:'序号',width: 80, sort: true}
                        ,{field: 'write_date', title: '下单日期', width: 150, sort: true}
                        ,{field: 'cs_id', title: '流水号', minWidth: 150}
                        ,{field: 'receiver_name', title: '收件人', minWidth: 100}
                        ,{field: 'cs_info_state', title: '状态', minWidth: 100}
                        ,{field: 'build_organize_name', title: '部门', minWidth: 150}
                        ,{field: 'build_user_name', title: '区域经理', minWidth: 100}
                        ,{field: 'product_number', title: '项数', width: 80}
				      	,{fixed: 'right', title:'操作', width:150, align:'center', toolbar: '#operatebar'}
				    ]]
				    ,id: 'querytable'
				    ,data:[]
				    ,even: true
				    ,page: true //是否显示分页
				    ,limit: 10 //每页默认显示的数量
				    ,done: function(res){
				    	console.log(res);    //res为接口返回的数据
				    }
				  });

				/*监听工具条*/
				table.on('tool(repairorder)', function(obj){
				    var data = obj.data;
				    if(obj.event === 'detail'){
				    	layer.msg('下单日期：'+ data.date + ' 的查看操作');
				    }
			  	});

                /*监听部门选择*/
                form.on('select(department)',function (obj) {
                    var ops=document.getElementById("areamanager");
                    ops.innerHTML = "";
                    ops.options.length = 0;
                    form.render('select');
                    jq("#areamanager").append("<option value=''>请选择</option>");
                    form.render('select');
                    if(obj.value == "")
                        return ;
                    jq.post("{:url('admin/Approvealternativeconfirmorder/getareamanager')}",{'param':obj.value},function(data){
                        for(var  item in data){
                            jq("#areamanager").append("<option value='"+data[item]['user_id']+"'>"+data[item]['fullname']+"</option>");
                        }
                        form.render('select');
                    });
                });
			});
		</script>
	</body>
</html>