<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title></title>
        <link rel="stylesheet" type="text/css" href="/static/layui/css/layui.css">
        <link rel="stylesheet" type="text/css" href="/static/css/public.css"> </head>
    <body>
        <form class="layui-form layui-form-pane" action="">
        	<div class="toph2">
            	<h2>订货确认单</h2>
           	</div>
            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label">日期</label>
                    <div class="layui-input-inline">
                        <input type="text" disabled name="date1" id="date1" autocomplete="on" class="layui-input" value="{$date}">
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">下单时间</label>
                    <div class="layui-input-inline">
                        <input type="text" name="orderdate" id="date2" autocomplete="on" class="layui-input"> </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">流水号</label>
                    <div class="layui-input-inline">
                        <input type="text" name="swiftnumber" id="swiftnumber" lay-verify="" autocomplete="on" placeholder="" class="layui-input"> </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label lightblue">状态</label>
                    <div class="layui-input-inline">
                        <select name="status">
                            <option value="" disabled="" selected="">选择</option>
                            <option value="已完成">已完成</option>
                            <option value="待处理">待处理</option>
                            <option value="处理中">处理中</option>
                            <option value="备货">备货</option>
                            <option value="取消">取消</option>
                        </select>
                    </div>
                </div>
            </div>
            <h3>物流信息</h3>
            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label">发货日期</label>
                    <div class="layui-input-inline">
                        <input type="text" name="deliverydate" id="date3" autocomplete="on" class="layui-input"> </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">货场</label>
                    <div class="layui-input-inline">
                        <input type="text" name="goodsyard" id="goodsyard" lay-verify="" autocomplete="on" placeholder="" class="layui-input"> </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">物流单号</label>
                    <div class="layui-input-inline">
                        <input type="text" name="trackingnumber" id="trackingnumber" lay-verify="" autocomplete="on" placeholder="" class="layui-input"> </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">件数</label>
                    <div class="layui-input-inline">
                        <input type="text" name="packagesnumber" id="packagesnumber" id lay-verify="" autocomplete="on" placeholder="" class="layui-input"> </div>
                </div>
            </div>
            <h3>订单信息</h3>
            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label Wheat">部门</label>
                    <div class="layui-input-inline">
                        <input type="text" name="department" id="department" lay-verify="" autocomplete="on" placeholder="" class="layui-input"> </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label Wheat">区域经理</label>
                    <div class="layui-input-inline">
                        <input type="text" name="areamanager" id="areamanager" lay-verify="" autocomplete="on" placeholder="" class="layui-input"> </div>
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label Wheat">收货人姓名</label>
                    <div class="layui-input-inline">
                        <input type="text" name="consigneenamefirst" id="consigneenamefirst" lay-verify="" autocomplete="on" placeholder="" class="layui-input"> </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label Wheat">收货人电话</label>
                    <div class="layui-input-inline">
                        <input type="text" name="consigneetelfirst" id="consigneetelfirst" lay-verify="" autocomplete="on" placeholder="" class="layui-input"> </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label Wheat">收货地址</label>
                    <div class="layui-input-inline">
                        <input type="text" name="deliveryaddress " id="deliveryaddress" lay-verify="" autocomplete="on" placeholder="" class="layui-input"> </div>
                </div>
            </div>
            <h3>费用情况</h3>
            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label Wheat">订制费用</label>
                    <div class="layui-input-inline">
                        <input type="text" name="custommoney" id="custommoney" lay-verify="" autocomplete="on" placeholder="" class="layui-input"> </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label Wheat">运费</label>
                    <div class="layui-input-inline">
                        <input type="text" name="transportationexpense" id="transportationexpense" lay-verify="" autocomplete="on" placeholder="" class="layui-input"> </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label Wheat">运费方式</label>
                    <div class="layui-input-inline">
                        <select name="freightway">
                            <option value="" disabled="" selected="">选择</option>
                            <option value="到付">到付</option>
                            <option value="现金">现金</option>
                            <option value="代付">代付</option>
                            <option value="公司付">公司付</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label Wheat">备注</label>
                <div class="layui-input-block">
                    <input type="text" name="remark" id="remark" lay-verify="" autocomplete="on" placeholder="" class="layui-input"> </div>
            </div>
            <h3>订制情况</h3>
            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label Wheat">货期回复</label>
                    <div class="layui-input-inline">
                        <input type="text" name="goodstimeservicereply" id="goodstimeservicereply" lay-verify="" autocomplete="on" placeholder="" class="layui-input"> </div>
                </div>
                <div class="layui-inline">
                	<a href="../IncreaseNonfinalizedProductsConfirmationSheet/IncreaseNonfinalizedProductsConfirmationSheet.html" class="layui-btn" target="_blank">增加非定型产品订货确认单</a>
                	<a href="javascript:void(0);" class="layui-btn" target="_blank">查看非定型产品订货确认单</a>
                	<a href="javascript:void(0);" class="layui-btn" target="_blank">上传咨询表</a>
                	<a href="javascript:void(0);" class="layui-btn" target="_blank">查看咨询表</a>
               	</div>
            </div>
           	<div class="layui-form-item">

           	</div>
            <h3>已发货产品</h3>
            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label Wheat">总项数</label>
                    <div class="layui-input-inline">
                        <input type="text" name="totalnumberitems" id="totalnumberitems" lay-verify="" autocomplete="on" placeholder="" class="layui-input"> </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label Wheat">公共广播</label>
                    <div class="layui-input-inline">
                        <input type="text" name="publicbroadcastfirst" id="publicbroadcastfirst" lay-verify="" autocomplete="on" placeholder="" class="layui-input"> </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label Wheat">会议系统</label>
                    <div class="layui-input-inline">
                        <input type="text" name="meetingsystem" id="meetingsystem" lay-verify="" autocomplete="on" placeholder="" class="layui-input"> </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label Wheat">订制</label>
                    <div class="layui-input-inline">
                        <input type="text" name="order" id="order" lay-verify="" autocomplete="on" placeholder="" class="layui-input"> </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label Wheat">录播</label>
                    <div class="layui-input-inline">
                        <input type="text" name="recordedbroadcast" id="recordedbroadcast" lay-verify="" autocomplete="on" placeholder="" class="layui-input"> </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label Wheat">地铁事业</label>
                    <div class="layui-input-inline">
                        <input type="text" name="subwaycareer" id="subwaycareer" lay-verify="" autocomplete="on" placeholder="" class="layui-input"> </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label Wheat">澳斯迪</label>
                    <div class="layui-input-inline">
                        <input type="text" name="auxdio" id="auxdio" lay-verify="" autocomplete="on" placeholder="" class="layui-input"> </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label Wheat">礼品</label>
                    <div class="layui-input-inline">
                        <input type="text" name="present" id="present" lay-verify="" autocomplete="on" placeholder="" class="layui-input"> </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label Wheat">画册</label>
                    <div class="layui-input-inline">
                        <input type="text" name="picturealbum" id="picturealbum" lay-verify="" autocomplete="on" placeholder="" class="layui-input"> </div>
                </div>
            </div>
            <h3>订购清单</h3>
            <table class="layui-table">
                <colgroup>
                    <!--<col width="150">
                    <col width="200">
                    <col> -->
                </colgroup>
                <thead>
                    <tr class="Wheat">
                        <th>序号</th>
                        <th>产品分类</th>
                        <th>品牌</th>
                        <th>生产地</th>
                        <th>产品名称</th>
                        <th>单位</th>
                        <th>数量</th>
                        <th>产品状态</th>
                        <th>备注</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td></td>
                        <td>
                            <!--<div class="layui-form-item">-->
                            <!--<div class="layui-inline">-->
                            <!-- <div class="layui-input-inline">-->
                            <select name="publicbroadcastsecond">
                                <option value="" disabled="" selected="">选择</option>
                                <option value="公共广播">公共广播</option>
                                <option value="会议系统">会议系统</option>
                                <option value="地铁事业">地铁事业</option>
                                <option value="澳斯迪">澳斯迪</option>
                                <option value="录播">录播</option>
                            </select>
                            <!--</div>-->
                            <!--</div>-->
                            <!--</div>-->
                        </td>
                        <td>
                            <select name="brand">
                                <option value="" disabled="" selected="">选择</option>
                                <option value="DSPPA">DSPPA</option>
                                <option value="ZABKZ">ZABKZ</option>
                                <option value="OTEWA">OTEWA</option>
                                <option value="AUXDI">AUXDI</option>
                                <option value="外购">外购</option>
                            </select>
                        </td>
                        <td>
                        	<select name="factory">
                                <option value="" disabled="" selected="">选择</option>
                                <option value="总厂">总厂</option>
                                <option value="盛葆">盛葆</option>
                                <option value="乐坊">乐坊</option>
                                <option value="外购">外购</option>
                                <option value="外购">澳斯迪</option>
                                <option value="智慧科技">智慧科技</option>
                                <option value="信息科技">信息科技</option>

                            </select>
                        </td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>
                        	<select name="productstatus">
                                <option value="" disabled="" selected="">选择</option>
                                <option value="未发货">未发货</option>
                                <option value="处理中">处理中</option>
                                <option value="已完成">已完成</option>
                                <option value="取消">取消</option>
                                <option value="备货">备货</option>
                                <option value="缺货">缺货</option>
                                <option value="信息科技">信息科技</option>

                            </select>
                        </td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
            <div class="layui-form-item">
                <div class="layui-btn-container">
                    <button class="layui-btn layui-btn-normal" lay-submit="" lay-filter="save">保存</button>
                </div>
            </div>
        </form>
        <script type="text/javascript" src="/static/layui/layui.js"></script>
        <script type="text/javascript">
            layui.use(['form', 'layedit', 'laydate'], function () {
                var form = layui.form,
                    layer = layui.layer,
                    layedit = layui.layedit,
                    laydate = layui.laydate;
                /*日期*/
                laydate.render({
                    elem: '#date1'
                    ,position: 'fixed'
                    ,theme: 'molv'
                });
                laydate.render({
                    elem: '#date2'
                    ,position: 'fixed'
                    ,theme: 'molv'
                });
                laydate.render({
                    elem: '#date3'
                    ,position: 'fixed'
                    ,theme: 'molv'
                });
                laydate.render({
                    elem: '#date4'
                    ,position: 'fixed'
                    ,theme: 'molv'
                });
                laydate.render({
                    elem: '#date5'
                    ,position: 'fixed'
                    ,theme: 'molv'
                });
                laydate.render({
                    elem: '#date6'
                    ,position: 'fixed'
                    ,theme: 'molv'
                });
                laydate.render({
                    elem: '#date7'
                    ,position: 'fixed'
                    ,theme: 'molv'
                });


                //监听提交
                form.on('submit(save)', function (data) {
                    layer.alert(JSON.stringify(data.field), {
                        title: '最终的提交信息'
                    })
                    return false;
                });
            });
        </script>
    </body>
</html>