<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title></title>
        <link rel="stylesheet" type="text/css" href="/static/layui/css/layui.css">
        <link rel="stylesheet" type="text/css" href="/static/css/public.css"> </head>
    <body>
        <form class="layui-form layui-form-pane" action="">
        	<div class="toph2">
            	<h2>订货确认单</h2>
           	</div>
            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label">日期</label>
                    <div class="layui-input-inline">
                        <input type="text" disabled name="date1" id="date1" autocomplete="on" class="layui-input" value="{$date}">
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">下单日期</label>
                    <div class="layui-input-inline">
                        <input type="text" name="orderdate" id="orderdate" autocomplete="on" class="layui-input">
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">流水号</label>
                    <div class="layui-input-inline">
                        <input type="text" disabled name="swiftnumber" id="swiftnumber" lay-verify="" autocomplete="on" placeholder="" class="layui-input">
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label dark_blue">状态</label>
                    <div class="layui-input-inline">
                        <select name="status">
                            <option value="" disabled="" selected="">选择</option>
                            <option value="0">空</option>
                            <option value="1">处理中</option>
                            <option value="2">已完成</option>
                            <option value="3">取消</option>
                            <option value="4">备货</option>
                        </select>
                    </div>
                </div>
            </div>
            <h3>物流信息</h3>
            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label">发货日期</label>
                    <div class="layui-input-inline">
                        <input type="text" name="deliverydate" id="deliverydate" autocomplete="on" class="layui-input"> </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">货场</label>
                    <div class="layui-input-inline">
                        <input type="text" name="goodsyard" id="goodsyard" lay-verify="" autocomplete="on" placeholder="" class="layui-input"> </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">物流单号</label>
                    <div class="layui-input-inline">
                        <input type="text" name="trackingnumber" id="trackingnumber" lay-verify="" autocomplete="on" placeholder="" class="layui-input"> </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">件数</label>
                    <div class="layui-input-inline">
                        <input type="text" name="packagesnumber" id="packagesnumber" id lay-verify="" autocomplete="on" placeholder="" class="layui-input"> </div>
                </div>
            </div>
            <h3>订单信息</h3>
            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label Wheat">总部门：</label>
                    <div class="layui-input-inline">
                        <select id="company_id" name="company_id" lay-filter="company_id">
                            <option value="" selected>请选择</option>
                            {volist name="companylist" id="vo"}
                            <option value="{$vo.organize_id}">{$vo.organize_name}</option>
                            {/volist}
                        </select>
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label Wheat">子部门</label>
                    <div class="layui-input-inline">
                        <select id="department_id" name="department_id" lay-filter="department_id">
                            <option value="" selected>请选择</option>
                        </select>
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label Wheat">区域经理</label>
                    <div class="layui-input-inline">
                        <select id="manager_id" name="manager_id" lay-filter="manager_id">
                            <option value="" selected>请选择</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label Wheat">收货人姓名</label>
                    <div class="layui-input-inline">
                        <input type="text" name="receiver_name" id="receiver_name" lay-verify="" autocomplete="on" placeholder="" class="layui-input"> </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label Wheat">收货人电话</label>
                    <div class="layui-input-inline">
                        <input type="text" name="receiver_phone" id="receiver_phone" lay-verify="" autocomplete="on" placeholder="" class="layui-input"> </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label Wheat">收货地址</label>
                    <div class="layui-input-inline">
                        <input type="text" name="receiver_address " id="receiver_address" lay-verify="" autocomplete="on" placeholder="" class="layui-input"> </div>
                </div>
            </div>
            <h3>费用情况</h3>
            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label Wheat">订制费用</label>
                    <div class="layui-input-inline">
                        <input type="text" name="customization_fee" id="customization_fee" lay-verify="" autocomplete="on" placeholder="" class="layui-input"> </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label Wheat">运费</label>
                    <div class="layui-input-inline">
                        <input type="text" name="transfer_fee" id="transfer_fee" lay-verify="" autocomplete="on" placeholder="" class="layui-input"> </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label Wheat">运费方式</label>
                    <div class="layui-input-inline">
                        <select name="delivered_total">
                            <option value="" disabled="" selected="">选择</option>
                            <option value="1">到付</option>
                            <option value="2">现金</option>
                            <option value="3">代付</option>
                            <option value="4">公司付</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label Wheat">备注</label>
                <div class="layui-input-block">
                    <input type="text" name="comment" id="comment" lay-verify="" autocomplete="on" placeholder="" class="layui-input"> </div>
            </div>
            <h3>订制情况</h3>
            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label Wheat">货期回复</label>
                    <div class="layui-input-inline">
                        <input type="text" name="delivery_date_reply" id="delivery_date_reply" lay-verify="" autocomplete="on" placeholder="" class="layui-input"> </div>
                </div>
                <div class="layui-inline">
                	<a href="../IncreaseNonfinalizedProductsConfirmationSheet/IncreaseNonfinalizedProductsConfirmationSheet.html" class="layui-btn" target="_blank">增加非定型产品订货确认单</a>
                	<a href="javascript:void(0);" class="layui-btn" target="_blank">查看非定型产品订货确认单</a>
                	<a href="javascript:void(0);" class="layui-btn" target="_blank">上传咨询表</a>
                	<a href="javascript:void(0);" class="layui-btn" target="_blank">查看咨询表</a>
               	</div>
            </div>
           	<div class="layui-form-item">

           	</div>
            <h3>已发货产品</h3>
            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label Wheat">总项数</label>
                    <div class="layui-input-inline">
                        <input type="text" name="product_number" id="product_number" lay-verify="" autocomplete="on" placeholder="" class="layui-input"> </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label Wheat">公共广播</label>
                    <div class="layui-input-inline">
                        <input type="text" name="delivered_pa" id="delivered_pa" lay-verify="" autocomplete="on" placeholder="" class="layui-input"> </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label Wheat">会议系统</label>
                    <div class="layui-input-inline">
                        <input type="text" name="delivered_conference" id="delivered_conference" lay-verify="" autocomplete="on" placeholder="" class="layui-input"> </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label Wheat">订制</label>
                    <div class="layui-input-inline">
                        <input type="text" name="delivered_customization" id="delivered_customization" lay-verify="" autocomplete="on" placeholder="" class="layui-input"> </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label Wheat">录播</label>
                    <div class="layui-input-inline">
                        <input type="text" name="delivered_record" id="delivered_record" lay-verify="" autocomplete="on" placeholder="" class="layui-input"> </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label Wheat">地铁事业</label>
                    <div class="layui-input-inline">
                        <input type="text" name="delivered_metro" id="delivered_metro" lay-verify="" autocomplete="on" placeholder="" class="layui-input"> </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label Wheat">澳斯迪</label>
                    <div class="layui-input-inline">
                        <input type="text" name="delivered_aux" id="delivered_aux" lay-verify="" autocomplete="on" placeholder="" class="layui-input"> </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label Wheat">礼品</label>
                    <div class="layui-input-inline">
                        <input type="text" name="delivered_gift" id="delivered_gift" lay-verify="" autocomplete="on" placeholder="" class="layui-input"> </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label Wheat">画册</label>
                    <div class="layui-input-inline">
                        <input type="text" name="delivered_album" id="delivered_album" lay-verify="" autocomplete="on" placeholder="" class="layui-input"> </div>
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-btn-container">
                    <button id="btn_add_order_item" class="layui-btn layui-btn-normal" lay-submit="" lay-filter="add_order_item">添加清单</button>
                </div>
            </div>
            <h3>订购清单</h3>
            <table class="layui-table" id="tableorder">
                <colgroup>
                    <!--<col width="150">
                    <col width="200">
                    <col> -->
                </colgroup>
                <thead>
                    <tr class="Wheat">
                        <th>序号</th>
                        <th>产品分类</th>
                        <th>品牌</th>
                        <th>产品名称</th>
                        <th>型号</th>
                        <th>单位</th>
                        <th>数量</th>
                        <th>生产地</th>
                        <th class="dark_blue">产品状态</th>
                        <th class="dark_blue">备注</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
            <div class="layui-form-item">
                <div class="layui-btn-container">
                    <button class="layui-btn layui-btn-normal" lay-submit="" lay-filter="save">保存</button>
                </div>
            </div>
        </form>
        <script type="text/javascript" src="/static/layui/layui.js"></script>
        <script type="text/javascript">
            layui.use(['form', 'jquery','layedit', 'laydate'], function () {
                var form = layui.form,
                    jq = layui.jquery,
                    layer = layui.layer,
                    layedit = layui.layedit,
                    laydate = layui.laydate;
                /*日期*/
                laydate.render({
                    elem: '#date1'
                    ,position: 'fixed'
                    ,theme: 'molv'
                });
                laydate.render({
                    elem: '#orderdate'
                    ,position: 'fixed'
                    ,theme: 'molv'
                });
                laydate.render({
                    elem: '#deliverydate'
                    ,position: 'fixed'
                    ,theme: 'molv'
                });

                //监听提交
                form.on('submit(save)', function (uidata) {
                    var data = uidata.field;
                    var order_goods_cs_info = orderGoodsInfo(data);
                    console.log('下列输入订货确认单信息：');
                    console.log(order_goods_cs_info);
                    var ofg_info = ofgInfo(data);
                    console.log('下列输入订单信息：');
                    console.log(ofg_info);
                    var fee_info = feeInfo(data);
                    console.log('下列输入费用情况：');
                    console.log(fee_info);
                    var order_goods_cs_undeliver_goods_info = ogcugi();
                    console.log('下列输入清单信息：');
                    console.log(order_goods_cs_undeliver_goods_info);

                    var postdata = new Object();
                    postdata.order_goods_cs_info = order_goods_cs_info;
                    postdata.ofg_info = ofg_info;
                    postdata.fee_info = fee_info;
                    postdata.order_goods_cs_undeliver_goods_info = order_goods_cs_undeliver_goods_info;
                    jq.ajax({
                        url: "{:url('admin/addgoodsconfirmorder/addcs')}",//php文件路径
                        data: {json:JSON.stringify(postdata)},
                        type: 'POST',
                        dataType: 'json',
                        success: function(e) {
                            if(e){
                                console.log('订单添加成功！');
                                console.log(e);
                                location.href = "{:url('admin/addgoodsconfirmorder/addgoodsconfirmorder')}";
                            }else if(!e){
                                console.log('订单提交失败！');
                                console.log(e);
                            }
                        }
                    })
                    return false;
                });

                //监听选择公司
                form.on('select(company_id)',function (data) {
                    jq.post("{:url('admin/addgoodsconfirmorder/getdepartmentinfo')}",{'param':data.value},function (data) {
                        //console.log(data);
                        for (var item in data){
                            jq('#department_id').append("<option value='" + data[item]['organize_id'] + "'>" + data[item]['organize_name'] + "</option>>");
                        }
                        form.render('select');
                    })
                });
                //监听选择部门
                form.on('select(department_id)',function (data) {

                    jq.post("{:url('admin/addgoodsconfirmorder/getdspmanagerinfo')}",{'param':data.value},function (data) {
                        for (var item in data){
                            jq('#manager_id').append("<option value='" + data[item]['user_id'] + "' phone='" + data[item]['phone'] + "'>" + data[item]['fullname'] + "</option>>");
                        }
                        form.render('select');
                    })
                });
                //添加清单明显
                jq('#btn_add_order_item').click(function () {
                    layer.open({
                        type:2,
                        title:'新增清单',
                        area:['800px','90%'],
                        shade:0,
                        maxmin:false,
                        content:"{:url('admin/addgoodsconfirmorderitem/addgoodsconfirmorderitem')}",
                        btn:['保存','退出'],
                        yes:function (index,layero) {
                            var  iframeWin = window[layero.find('iframe')[0]['name']];
                            var  orderItem = iframeWin.saveOrderItem();
                            if (orderItem == ""){
                                return;
                            }
                            if(orderItem.model_text == null){
                                return null;
                            }
                            console.log(orderItem);
                            //+判断
                            var type_id = orderItem.type_id;
                            var type_text = orderItem.type_text;
                            var brand_id = orderItem.brand_id;
                            var brand_text = orderItem.brand_text;
                            var model_text = orderItem.model_text;
                            var product_info_id = orderItem.product_info_id;
                            var model = orderItem.model;
                            var unit = orderItem.unit;
                            var place = orderItem.place_id;
                            var place_text = orderItem.place_text;
                            var count =orderItem.count;
                            var product_state_text = orderItem.product_state_text;
                            var product_state_id = orderItem.product_state_id;

                            var comment = orderItem.comment;
                            var rows = jq('#tableorder')[0].rows.length;

                            var new_tr = jq('#tableorder')[0].insertRow(rows);//指定位置插入行
                            var col_0 = new_tr.insertCell(0);//添加列
                            col_0.innerHTML = "<td><a>"+ rows+"</a></td>";
                            var col_1 = new_tr.insertCell(1);
                            col_1.innerHTML = "<td><a tag='"+ type_id +"'>"+ type_text +"</a></td>";
                            var col_2 = new_tr.insertCell(2);
                            col_2.innerHTML = "<td><a tag='"+ brand_id +"'>"+ brand_text +"</a></td>";
                            var col_3 = new_tr.insertCell(3);
                            col_3.innerHTML = "<td><a>"+ model_text +"</a></td>";//-------产品名称-------
                            var col_4 = new_tr.insertCell(4);
                            col_4.innerHTML = "<td><a tag='" + product_info_id + "'>"+ model +"</a></td>";
                            var col_5 = new_tr.insertCell(5);
                            col_5.innerHTML = "<td><a>"+ unit +"</a></td>";
                            var col_6 = new_tr.insertCell(6);
                            col_6.innerHTML = "<td><a>"+ count +"</a></td>";
                            var col_7 = new_tr.insertCell(7);
                            col_7.innerHTML = "<td><a tag = '"+ place +"'>"+ place_text +"</a></td>";
                            var col_8 = new_tr.insertCell(8);
                            col_8.innerHTML = "<td><a tag='" + product_state_id + "'>"+ product_state_text +"</a></td>";
                            var col_9 = new_tr.insertCell(9);
                            col_9.innerHTML = "<td><a>"+ comment +"</a></td>";

                            layer.closeAll();
                        },
                        btn2: function () {
                            layer.closeAll();
                        }
                    });
                    return false;
                });
            });
            //订货确认单信息
            function orderGoodsInfo(data) {
                var order_goods_cs_info = new Object();
                //order_goods_cs_info.cs_id = $info['cs_id'];
                //order_goods_cs_info.ofg_info_id = $info['ofg_info_id'];
                //order_goods_cs_info.fee_info_id = $info['fee_info_id'];
                order_goods_cs_info.delivery_date_reply = data['delivery_date_reply'];
                //order_goods_cs_info.unc_ofg_info_id = $info['unc_ofg_info_id'];                   //非常规订单（暂无）
                //order_goods_cs_info.consult_sheet_file = $info['consult_sheet_file'];             //咨询单文件名（暂无）
                order_goods_cs_info.delivered_total = data['delivered_total'];
                order_goods_cs_info.delivered_pa = data['delivered_pa'];
                order_goods_cs_info.delivered_conference = data['delivered_conference'];
                order_goods_cs_info.delivered_customization = data['delivered_customization'];
                order_goods_cs_info.delivered_record = data['delivered_record'];
                order_goods_cs_info.delivered_metro = data['delivered_metro'];
                order_goods_cs_info.delivered_aux = data['delivered_aux'];
                order_goods_cs_info.delivered_gift = data['delivered_gift'];
                order_goods_cs_info.delivered_album = data['delivered_album'];
                order_goods_cs_info.product_number = data['product_number'];
                return order_goods_cs_info;
            }
            //订单信息
            function ofgInfo(data) {
                var ofg_info = new Object();
                //ofg_info.ofg_info_id = data['ofg_info_id'];                 //后台添加
                ofg_info.receiver_name = data['receiver_name'];
                ofg_info.receiver_phone = data['receiver_phone'];
                ofg_info.receiver_address = data['receiver_address'];
                ofg_info.user_id = data['user_id'];
                return ofg_info;
            }
            //费用情况
            function feeInfo(data) {
                var fee_info = new Object();
                //fee_info.ofg_info_id = data['ofg_info_id'];
                fee_info.receiver_name = data['receiver_name'];
                fee_info.receiver_phone = data['receiver_phone'];
                fee_info.receiver_address = data['receiver_address'];
                fee_info.user_id = data['user_id'];
                return fee_info;
            }

            function getTableData(){
                var jq = layui.jquery;
                var mytable = document.getElementById('tableorder');
                var data = [];
                var  rows = mytable.rows.length;
                for(var i = 1; i < rows; i++){
                    var rowdata = {};
                    for(var j = 0,cells=mytable.rows[i].cells.length; j<cells; j++){
                        var tag = jq(mytable.rows[i].cells[j].innerHTML).attr('tag');
                        var text = jq(mytable.rows[i].cells[j].innerHTML).text();
                        var mymap = {};
                        mymap['tag'] = tag;
                        mymap['text'] = text;
                        rowdata[j] = mymap;
                    }
                    data[i - 1] = rowdata;
                }
                return data;
            }
            //订货确认单 清单
            function ogcugi() {
                var tableData = getTableData();
                var length = tableData.length;
                var order_goods_cs_undeliver_goods_info = new Object();
                for(var i = 0; i < length ; i++){
                    var tableRowData = tableData[i];
                    var infoItem = new Object();

                    //infoItem.ogcugi_id = tableRowData['ogcugi_id'];
                    //infoItem.cs_id = tableRowData['cs_id'];
                    infoItem.product_info_id = tableRowData[4]['tag'];
                    infoItem.ogcugi_count = tableRowData[6]['text'];
                    infoItem.ogcugi_product_state = tableRowData[8]['tag'];
                    infoItem.ogcugi_comment = tableRowData[9]['text'];
                    infoItem.ogcugi_unit = tableRowData[5]['text'];
                    order_goods_cs_undeliver_goods_info[i] = infoItem;
                }
                return order_goods_cs_undeliver_goods_info;
            }
        </script>
    </body>
</html>