<!DOCTYPE html>
<html>
	<head>
		<title>首页</title>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1">
		<link rel="stylesheet" type="text/css" href="/static/layui/css/layui.css">
		<link rel="stylesheet" type="text/css" href="/static/css/global.css">
	</head>
	<body>
		<div class="layui-layout layui-layout-admin">
	    	<div class="layui-header header">
		      <div class="layui-main">
		        <a class="logo" href="javascript:void(0);" style="cursor: default;">
		          <img src="/static/images/logo.png" alt="迪士普智慧科技">
		        </a>
		        <div class="top_admin_user">
		          <a href="javascript:void(0)" id="loginuser" style="cursor: default;" loginuserid='loginuserid'>游客</a>|<a href="javascript:void(0)" id="systime" style="cursor: default;">
		            <script type="text/javascript">
		               var show = document.getElementById("systime");
		               var time = new Date();
		               var m = time.getMonth() + 1;
		               var t = time.getFullYear() + "-" + m + "-"
		                 + time.getDate() + " " + time.getHours() + ":"
		                 + time.getMinutes() + ":" + time.getSeconds();
		               show.innerHTML = t;
		            </script>
		          </a>|<a class="index" href="{:url('index/adminindex/index')}">首页</a>|
		          {if condition="$usermanagepower eq 1"}
		         	<a class="usermange_btn" href="{:url('usermanage/usermanage/usermanage')}">用户管理</a>|
				  {/if}
		          <a class="logout_btn" href="javascript:void(0)">注销</a>
		        </div>
		      </div>
		    </div>
		    <div class="layui-side layui-bg-black">
		        <div class="layui-side-scroll">
					<!--总监，物流部-->
					{if condition="$addgoodsorderpower eq 1"}
			            <ul class="layui-nav layui-nav-tree" lay-filter="leaderOrder">
						  <li class="layui-nav-item layui-nav-itemed">
						  	<a href="javascript:void(0);"><span style="color: red;">新增订单(物流部)</span></a>
						  	<dl class="layui-nav-child">
								<dd><a href="{:url('admin/addgoodsconfirmorder/addgoodsconfirmorder')}" target="main" class="layui-this">订货确认单</a></dd>
						  	</dl>
						  </li>
					{/if}
					
					{if condition="$addorderpower eq 1"}
  		              	<li class="layui-nav-item layui-nav-itemed">
			                <a href="javascript:void(0);"><span style="color: red;">新增订单(销售部)</span></a>
	                 	 	<dl class="layui-nav-child">
			                    {if condition="$addreplaceorderpower eq 1"}
									<dd><a href="{:url('admin/addreplaceconfirmorder/addreplaceconfirmorder')}" target="main">更换确认单</a></dd>
								{/if}

								{if condition="$addborroworderpower eq 2"}
									<dd><a href="{:url('admin/addborrowconfirmorder/addborrowconfirmorder')}" target="main">借样确认单</a></dd>
								{/if}

								{if condition="$addreturnorderpower eq 3"}
									<dd><a href="{:url('admin/addreturnconfirmorder/addreturnconfirmorder')}" target="main">退货确认单</a></dd>
								{/if}

								{if condition="$addrepairorderpower eq 4"}
									<dd><a href="{:url('admin/addrepairconfirmorder/addrepairconfirmorder')}" target="main">维修确认单</a></dd>
								{/if}

								{if condition="$addpartsorderpower eq 5"}
									<dd><a href="{:url('admin/addpartsconfirmorder/addpartsconfirmorder')}" target="main">配件确认单</a></dd>
								{/if}

								{if condition="$addalternativeorderpower eq 6"}
									<dd><a href="{:url('admin/addalternativeconfirmorder/addalternativeconfirmorder')}" target="main">代用确认单</a></dd>
			                  	{/if}
		                  	</dl>
		              	</li>
					{/if}

				  	{if condition="$addlogisticorder eq 1"}
  		                <li class="layui-nav-item layui-nav-itemed">
		              		<a href="javascript:void(0);"><span style="color: red;">物流单号</span></a>
		              		<dl class="layui-nav-child">
		              			<dd><a href="{:url('admin/inputlogisticsorder/inputlogisticsorder')}" target="main">物流单号输入</a></dd>
		              		</dl>
		                </li>
		          	{/if}
					
					{if condition="$approvepower eq 1"}
		              <li class="layui-nav-item layui-nav-itemed">
		                <a href="javascript:void(0);"><span style="color: red;">订单审批</span></a>
		                  <dl class="layui-nav-child">
							{if condition="$approvereplacepower eq 1"}
								<dd><a href="{:url('admin/approvereplaceconfirmorder/approvereplaceconfirmorder')}" target="main">更换确认单<span class="layui-badge">{$replaceorder}</span></a></dd>
							{/if}

							{if condition="$approveborrowpower eq 2"}
								<dd><a href="{:url('admin/approveborrowconfirmorder/approveborrowconfirmorder')}" target="main">借样确认单<span class="layui-badge">{$borroworder}</span></a></dd>
							{/if}

							{if condition="$approvereturnpower eq 3"}
								<dd><a href="{:url('admin/approvereturnconfirmorder/approvereturnconfirmorder')}" target="main">退货确认单<span class="layui-badge">{$returnorder}</span></a></dd>
							{/if}

							{if condition="$approverepairpower eq 4"}
								<dd><a href="{:url('admin/approverepairconfirmorder/approverepairconfirmorder')}" target="main">维修确认单<span class="layui-badge">{$repairorder}</span></a></dd>
							{/if}
							
							{if condition="$approvepartspower eq 5"}
								<dd><a href="{:url('admin/approvepartsconfirmorder/approvepartsconfirmorder')}" target="main">配件确认单<span class="layui-badge">{$partsorder}</span></a></dd>
							{/if}

							{if condition="$approvealternativepower eq 6"}
								<dd><a href="{:url('admin/approvealternativeconfirmorder/approvealternativeconfirmorder')}" target="main">代用确认单<span class="layui-badge">{$alternativeorder}</span></a></dd>
							{/if}
		                  </dl>
		              </li>
					{/if}
					
					{if condition="$querypower eq 1"}
		              <li class="layui-nav-item layui-nav-itemed">
		                <a href="javascript:void(0);"><span style="color: red;">确认单查询</span></a>
		                  <dl class="layui-nav-child">
							{if condition="$querygoodspower eq 1"}
								<dd><a href="{:url('admin/querygoodsconfirmorder/querygoodsconfirmorder')}" target="main">订货确认单</a></dd>
							{/if}

							{if condition="$queryreplacepower eq 2"}
								<dd><a href="{:url('admin/queryreplaceconfirmorder/queryreplaceconfirmorder')}" target="main">更换确认单</a></dd>
							{/if}

							{if condition="$queryborrowpower eq 3"}
								<dd><a href="{:url('admin/queryborrowconfirmorder/queryborrowconfirmorder')}" target="main">借样确认单</a></dd>
							{/if}

							{if condition="$queryreturnpower eq 4"}
								<dd><a href="{:url('admin/queryreturnconfirmorder/queryreturnconfirmorder')}" target="main">退货确认单</a></dd>
							{/if}

							{if condition="$queryrepairpower eq 5"}
								<dd><a href="{:url('admin/queryrepairconfirmorder/queryrepairconfirmorder')}" target="main">维修确认单</a></dd>
							{/if}

							{if condition="$querypartspower eq 6"}
								<dd><a href="{:url('admin/querypartsconfirmorder/querypartsconfirmorder')}" target="main">配件确认单</a></dd>
							{/if}

							{if condition="$queryalternativepower eq 7"}
								<dd><a href="{:url('admin/queryalternativeconfirmorder/queryalternativeconfirmorder')}" target="main">代用确认单</a></dd>
							{/if}
		                  </dl>
		              </li>
					{/if}
		            </ul>
		        </div>
		    </div>

		    <div class="layui-body iframe-container" style="overflow-y: hidden;">
		        <div class="iframe-mask" id="iframe-mask"></div>
		        <iframe class="admin-iframe" id="admin-iframe" name="main" src="{:url('admin/addgoodsconfirmorder/addgoodsconfirmorder')}"></iframe>
		    </div>
		    
		    <div class="layui-footer footer">
		      <div class="layui-main">
		        <p>版权所有 © 1988-2018 广州市迪士普智慧科技有限公司 版本号V01.00</p>
		      </div>
		  </div>
		</div>

		<script src="/static/layui/layui.js"></script>
		<script type="text/javascript">
			/*定时获取系统时间*/
			window.onload = function(){
			  var show = document.getElementById("systime");
			  setInterval(function() {
			   var time = new Date();
			   var m = time.getMonth() + 1;
			   var t = time.getFullYear() + "-" + m + "-"
			     + time.getDate() + " " + time.getHours() + ":"
			     + time.getMinutes() + ":" + time.getSeconds();
			   show.innerHTML = t;
			  }, 1000);
			};

			layui.use(['layer','jquery','element'],function(){
				var layer = layui.layer
				,element = layui.element
				,jq = layui.jquery;

				/*监听侧边导航栏*/
			 	element.on('nav(leaderOrder)', function(elem){
				    layer.msg(elem.text());
			  	});

  	            /*退出*/
	            jq('.logout_btn').click(function(){
	                jq.post("{:url('index/adminindex/logout')}",function(ret){
	                    if(ret){
	                        location.href = "/index/login/login";
	                    }
                	});
	            });
			});
		</script>
	</body>
</html>