<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>用户管理</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1">
    <link rel="stylesheet" type="text/css" href="/static/layui/css/layui.css">
    <link rel="stylesheet" type="text/css" href="/static/css/global.css">
</head>
<body>
    <div class="layui-layout layui-layout-admin">
        <div class="layui-header header">
          <div class="layui-main">
            <a class="logo" href="javascript:void(0);" style="cursor: default;">
              <img src="/static/images/logo.png" alt="迪士普智慧科技">
            </a>
            <div class="top_admin_user">
              <a href="javascript:void(0)" id="loginuser" style="cursor: default;" loginuserid='loginuserid'>{$loginusername}</a>|<a href="javascript:void(0)" id="systime" style="cursor: default;">
                <script type="text/javascript">
                   var show = document.getElementById("systime");
                   var time = new Date();
                   var m = time.getMonth() + 1;
                   var t = time.getFullYear() + "-" + m + "-"
                     + time.getDate() + " " + time.getHours() + ":"
                     + time.getMinutes() + ":" + time.getSeconds();
                   show.innerHTML = t;
                </script>
              </a>|<a class="index" href="{:url('index/adminindex/index')}">首页</a>|<a class="usermange_btn" href="{:url('usermanage/usermanage/usermanage')}">用户管理</a>|<a class="logout_btn" href="javascript:void(0)">注销</a>
            </div>
          </div>
        </div>
    </div>
    <div style ="margin: 10px 20px">
        <h1>用户管理</h1>
    </div>
    <div style ="margin: 10px 20px">
        <form class="layui-form" style="font-size: 22px">
            <div class="layui-form-item">
                <div class="layui-inline">
                    <div class="layui-input-inline">
                        <button id = "departmentcatalog" class="layui-btn">部门架构</button>
                    </div>
                    <div class="layui-input-inline" >
                        <button id = "adduser" class="layui-btn">新增</button>
                    </div>
                    <div class="layui-input-inline">
                        <button id = "rolemanage" class="layui-btn">角色管理</button>
                    </div>
                </div>

            </div>
        </form>
    </div>
    <div style ="margin: 10px 20px">
        <table  class="layui-table" id="usertable" lay-filter="usertable"></table>
        <script type="text/html" id="operatebar">
            <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
            <a class="layui-btn layui-btn-xs layui-btn-danger" lay-event="delete">删除</a>
        </script>
    </div>
    <script src="/static/layui/layui.js"></script>
    <script type="text/javascript">
        window.onload = function(){
          var show = document.getElementById("systime");
          setInterval(function() {
           var time = new Date();
           var m = time.getMonth() + 1;
           var t = time.getFullYear() + "-" + m + "-"
             + time.getDate() + " " + time.getHours() + ":"
             + time.getMinutes() + ":" + time.getSeconds();
           show.innerHTML = t;
          }, 1000);
        };

        layui.use(['layer','jquery','laydate','form','table'],function(){
            var form = layui.form ,layer = layui.layer,jq = layui.jquery,table = layui.table;

            jq('#departmentcatalog').click(function(){
                layer.open({
                    type:2
                    ,title:'部门架构'
                    ,area:['500px','60%']
                    ,shade:0.8
                    ,content:"{:url('usermanage/departmentmanage/departmentmanage')}"
                    ,btn:['保存','取消']
                    ,yes:function(index,layero){
                        var iframeWin = window[layero.find('iframe')[0]['name']];
                        var organize = iframeWin.submitOrganizeinfo();

                        jq.post("{:url('usermanage/usermanage/updatedepartment')}",{'organizeinfo':organize},function(data){
                            if(data == true){
                                layer.msg('更新成功',{icon:1});
                            }
                            layer.close(index);
                        });
                    }
                });
                return false;
            });

            jq('#adduser').click(function(){
                // 触发事件
                // 多窗口模式，层叠置顶
                layer.open({
                    type: 2 //此处以iframe举例
                    , title: '新增用户'
                    , area: ['800px', '90%']
                    , shade: 0.8
                    , maxmin: false
                    , content: "{:url('usermanage/adduser/adduser')}"
                    , btn: ['保存', '取消'] //只是为了演示
                    , yes: function (index,layero) {
                        var iframeWin = window[layero.find('iframe')[0]['name']];
                        var user = iframeWin.SaveUser();
                        user.user_id = "";
                        jq.post("{:url('usermanage/usermanage/updateuser')}",{'param':user} ,function(data){
                            table.reload('querytable', {
                                page: {
                                    curr: 1
                                }
                            });
                            console.log(data);
                        });
                        layer.closeAll();
                    }
                    , btn2: function () {
                        layer.closeAll();
                    }
                });
                return false;
            });

            /*退出*/
            jq('.logout_btn').click(function(){
                jq.post("{:url('usermanage/usermanage/logout')}",function(ret){
                    if(ret){
                        location.href = "/index/login/login";
                    }
                });
            });

            jq('#rolemanage').click(function(){
                // 触发事件
                // 多窗口模式，层叠置顶
                layer.open({
                    type: 2 //此处以iframe举例
                    , title: '角色管理'
                    , area: ['850px', '75%']
                    , shade: 0.8
                    , maxmin: false
                    , content: "{:url('usermanage/Rolemanage/Rolemanage')}"
                    , btn: ['保存', '取消'] //只是为了演示
                    , yes: function (index, layero) {

                        var iframeWin = window[layero.find('iframe')[0]['name']];
                        var role = iframeWin.SaveRole();
                        jq.post("{:url('usermanage/rolemanage/setrolepermisson')}",{'param':role} ,function(data){
                              console.log(data);
                        });
                    }
                    , btn2: function () {
                        layer.closeAll();
                    }
                });
                return false;
            });
            /*表格渲染*/
            table.render({
                elem: '#usertable'
                ,url:"{:url('usermanage/usermanage/getusermanage')}"     //动态获取数据
                ,cols: [[
                    {field: 'serialnumber', title: '序号', width: 50, sort: true}
                    ,{field: 'fullname', title: '用户名/账号', minWidth: 150}
                    ,{field: 'companyname', title: '总部门', minWidth: 80}
                    ,{field: 'organize_name', title: '子部门', minWidth: 80}
                    ,{field: 'job_name', title: '职位', minWidth: 120}
                    ,{field: 'phone', title: '联系电话', minWidth: 100}
                    ,{field: 'role_name', title: '角色', width: 120}
                    ,{fixed: 'right', title:'操作', width:150, align:'center', toolbar: '#operatebar'}
                ]]
                ,id: 'querytable'
                ,data:[]
                ,even: true
                ,page: true //是否显示分页
                ,limit: 10 //每页默认显示的数量
                ,done: function(res){
                    console.log(res);    //res为接口返回的数据
                }
            });

            /*监听工具条*/
            table.on('tool(usertable)', function(obj){
                var data = obj.data;
                if(obj.event === 'edit'){
                    layer.open({
                        type: 2 //此处以iframe举例
                        , title: '修改用户'
                        , area: ['800px', '90%']
                        , shade: 0.8
                        , maxmin: false
                        , content: "{:url('usermanage/edituser/edituser')}"
                        , btn: ['保存', '退出'] //只是为了演示
                        , yes: function (index, layero) {

                            var iframeWin = window[layero.find('iframe')[0]['name']];
                            var user = iframeWin.SaveUser();


                            user.user_id = data["user_id"];
                            console.log(user);
                            jq.post("{:url('usermanage/usermanage/updateuser')}",{'param':user} ,function(result){
                                table.reload('querytable', {
                                    page: {
                                        curr: 1
                                    }
                                });
                                console.log(result);
                            });
                            layer.closeAll();
                        }
                        , btn2: function () {
                            layer.closeAll();
                        }
                        ,success: function(layero, index){
                            console.log("1111111111111111111111111");
                            console.log(data);
                            var body = layer.getChildFrame('body', index);
                            var iframeWin = window[layero.find('iframe')[0]['name']]; //得到iframe页的窗口对象，执行iframe页的方法：iframeWin.method();
                             iframeWin.LoadingUser(data);
                        }
                    });
                }
                else if(obj.event === 'delete')
                {
                    var str = "是否删除" + data["fullname"] + "用户！";
                    layer.confirm(str, {
                        btn: ['确定', '取消'] //可以无限个按钮

                    }, function(index, layero){
                        jq.post("{:url('usermanage/usermanage/deleteuser')}",{'param':data["user_id"]} ,function(result){
                            table.reload('querytable', {
                                page: {
                                    curr: 1
                                }
                            });
                           // console.log(result);
                            layer.close(index);
                        });
                    }, function(index){
                        layer.close(index);
                    });
                }
            });

        });
    </script>
</body>
</html>