<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>角色管理</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1">
    <link rel="stylesheet" type="text/css" href="/static/layui/css/layui.css">
</head>
<body>
    <div>
      <form class="layui-form">
          <div class="layui-form-item" style="margin: 10px 0px">
              <div class="layui-inline">
                  <label class="layui-form-label">角色：</label>
                  <div class="layui-input-inline">
                       <select id = "rolelist" name="role_name" lay-filter="role_name">
                           <option value = "" selected>请选择</option>
                           {volist name="rolelist" id="vo"}
                           <option value={$vo.role_id}>{$vo.role_name}</option>
                           {/volist}
                       </select>
                  </div>
              </div>
          </div>
      </form>
    </div>
    <div>
      <form class="layui-form">
          <div class="layui-form-item" style="margin: 10px 10px 5px 10px">
              <div class="layui-inline">
                  <label class="layui-form-label">权限管理：</label>
              </div>
          </div>
          <div class="layui-form-item" style="margin: 5px 20px">
              <div class="layui-inline">
                  <label class="layui-form-label" style="width: 150px">订货单权限：</label>
                  <div class="layui-input-inline" style="width: 550px">
                      <input type="checkbox" id="order_goods_permission_add" name="order_goods_permission" lay-skin="primary" title="增加" >
                      <input type="checkbox" id="order_goods_permission_edit" name="order_goods_permission" lay-skin="primary" title="修改">
                      <input type="checkbox" id="order_goods_permission_delete" name="order_goods_permission" lay-skin="primary" title="删除" >
                      <input type="checkbox" id="order_goods_permission_print" name="order_goods_permission" lay-skin="primary" title="打印" >
                      <input type="checkbox" id="order_goods_permission_export" name="order_goods_permission" lay-skin="primary" title="导出" >
                      <input type="checkbox" id="order_goods_permission_examine" name="order_goods_permission" lay-skin="primary" title="审批" >
                      <input type="checkbox" id="order_goods_permission_query" name="order_goods_permission" lay-skin="primary" title="查询" >
                  </div>
              </div>
          </div>
          <div class="layui-form-item" style="margin: 5px 20px">
              <div class="layui-inline">
                  <label class="layui-form-label" style="width: 150px">更换确认订单权限：</label>
                  <div class="layui-input-inline" style="width: 550px">
                      <input type="checkbox" id="replace_permission_add" name="replace_permission" lay-skin="primary" title="增加" >
                      <input type="checkbox" id="replace_permission_edit" name="replace_permission" lay-skin="primary" title="修改">
                      <input type="checkbox" id="replace_permission_delete" name="replace_permission" lay-skin="primary" title="删除" >
                      <input type="checkbox" id="replace_permission_print" name="replace_permission" lay-skin="primary" title="打印" >
                      <input type="checkbox" id="replace_permission_export" name="replace_permission" lay-skin="primary" title="导出" >
                      <input type="checkbox" id="replace_permission_examine" name="replace_permission" lay-skin="primary" title="审批" >
                      <input type="checkbox" id="replace_permission_query" name="replace_permission" lay-skin="primary" title="查询" >
                  </div>
              </div>
          </div>
          <div class="layui-form-item" style="margin: 5px 20px">
              <div class="layui-inline">
                  <label class="layui-form-label" style="width: 150px">借样确认订单权限：</label>
                  <div class="layui-input-inline" style="width: 550px">
                      <input type="checkbox" id="borrow_sample_permission_add" name="borrow_sample_permission" lay-skin="primary" title="增加" >
                      <input type="checkbox" id="borrow_sample_permission_edit" name="borrow_sample_permission" lay-skin="primary" title="修改">
                      <input type="checkbox" id="borrow_sample_permission_delete" name="borrow_sample_permission" lay-skin="primary" title="删除" >
                      <input type="checkbox" id="borrow_sample_permission_print" name="borrow_sample_permission" lay-skin="primary" title="打印" >
                      <input type="checkbox" id="borrow_sample_permission_export" name="borrow_sample_permission" lay-skin="primary" title="导出" >
                      <input type="checkbox" id="borrow_sample_permission_examine" name="borrow_sample_permission" lay-skin="primary" title="审批" >
                      <input type="checkbox" id="borrow_sample_permission_query" name="borrow_sample_permission" lay-skin="primary" title="查询" >
                  </div>
              </div>
          </div>
          <div class="layui-form-item" style="margin: 5px 20px">
              <div class="layui-inline">
                  <label class="layui-form-label" style="width: 150px">退货确认订单权限：</label>
                  <div class="layui-input-inline" style="width: 550px">
                      <input type="checkbox" id="return_goods_permission_add" name="return_goods_permission" lay-skin="primary" title="增加" >
                      <input type="checkbox" id="return_goods_permission_edit" name="return_goods_permission" lay-skin="primary" title="修改">
                      <input type="checkbox" id="return_goods_permission_delete" name="return_goods_permission" lay-skin="primary" title="删除" >
                      <input type="checkbox" id="return_goods_permission_print" name="return_goods_permission" lay-skin="primary" title="打印" >
                      <input type="checkbox" id="return_goods_permission_export" name="return_goods_permission" lay-skin="primary" title="导出" >
                      <input type="checkbox" id="return_goods_permission_examine" name="return_goods_permission" lay-skin="primary" title="审批" >
                      <input type="checkbox" id="return_goods_permission_query" name="return_goods_permission" lay-skin="primary" title="查询" >
                  </div>
              </div>
          </div>
          <div class="layui-form-item" style="margin: 5px 20px">
              <div class="layui-inline">
                  <label class="layui-form-label" style="width: 150px">维修确认订单权限：</label>
                  <div class="layui-input-inline" style="width: 550px">
                      <input type="checkbox" id="fixing_permission_add" name="fixing_permission" lay-skin="primary" title="增加" >
                      <input type="checkbox" id="fixing_permission_edit" name="fixing_permission" lay-skin="primary" title="修改">
                      <input type="checkbox" id="fixing_permission_delete" name="fixing_permission" lay-skin="primary" title="删除" >
                      <input type="checkbox" id="fixing_permission_print" name="fixing_permission" lay-skin="primary" title="打印" >
                      <input type="checkbox" id="fixing_permission_export" name="fixing_permission" lay-skin="primary" title="导出" >
                      <input type="checkbox" id="fixing_permission_examine" name="fixing_permission" lay-skin="primary" title="审批" >
                      <input type="checkbox" id="fixing_permission_query" name="fixing_permission" lay-skin="primary" title="查询" >
                  </div>
              </div>
          </div>
          <div class="layui-form-item" style="margin: 5px 20px">
              <div class="layui-inline">
                  <label class="layui-form-label" style="width: 150px">配件确认订单权限：</label>
                  <div class="layui-input-inline" style="width: 550px">
                      <input type="checkbox" id="maintain_permission_add" name="maintain_permission" lay-skin="primary" title="增加" >
                      <input type="checkbox" id="maintain_permission_edit" name="maintain_permission" lay-skin="primary" title="修改">
                      <input type="checkbox" id="maintain_permission_delete" name="maintain_permission" lay-skin="primary" title="删除" >
                      <input type="checkbox" id="maintain_permission_print" name="maintain_permission" lay-skin="primary" title="打印" >
                      <input type="checkbox" id="maintain_permission_export" name="maintain_permission" lay-skin="primary" title="导出" >
                      <input type="checkbox" id="maintain_permission_examine" name="maintain_permission" lay-skin="primary" title="审批" >
                      <input type="checkbox" id="maintain_permission_query" name="maintain_permission" lay-skin="primary" title="查询" >
                  </div>
              </div>
          </div>

          <div class="layui-form-item" style="margin: 5px 20px">
              <div class="layui-inline">
                  <label class="layui-form-label" style="width: 150px">代用确认订单权限：</label>
                  <div class="layui-input-inline" style="width: 550px">
                      <input type="checkbox" id="substitute_permission_add" name="substitute_permission" lay-skin="primary" title="增加" >
                      <input type="checkbox" id="substitute_permission_edit" name="substitute_permission" lay-skin="primary" title="修改">
                      <input type="checkbox" id="substitute_permission_delete" name="substitute_permission" lay-skin="primary" title="删除" >
                      <input type="checkbox" id="substitute_permission_print" name="substitute_permission" lay-skin="primary" title="打印" >
                      <input type="checkbox" id="substitute_permission_export" name="substitute_permission" lay-skin="primary" title="导出" >
                      <input type="checkbox" id="substitute_permission_examine" name="substitute_permission" lay-skin="primary" title="审批" >
                      <input type="checkbox" id="substitute_permission_query" name="substitute_permission" lay-skin="primary" title="查询" >
                  </div>
              </div>
          </div>

          <div class="layui-form-item" style="margin: 5px 20px">
              <div class="layui-inline">
                  <label class="layui-form-label" style="width: 150px">物流单输入权限：</label>
                  <div class="layui-input-inline" style="width: 550px">
                      <input type="checkbox" id="logistic_input_permission" name="logistic_input_permission" lay-skin="primary" title="物流单号输入" >
                  </div>
              </div>
          </div>

          <div class="layui-form-item" style="margin: 5px 20px">
              <div class="layui-inline">
                  <label class="layui-form-label" style="width: 150px">用户管理权限：</label>
                  <div class="layui-input-inline" style="width: 550px">
                      <input type="checkbox" id="user_manage_permission_manage" name="user_manage_permission_manage" lay-skin="primary" title="用户管理" >
                  </div>
              </div>
          </div>
      </form>
    </div>
    <script src="/static/layui/layui.js"></script>
    <script type="text/javascript">
        layui.use(['layer','jquery','form','table'],function(){
            var form = layui.form ,layer = layui.layer,jq = layui.jquery,table = layui.table;
            //layui.form.render();
            /*监听角色选择*/
            form.on('select(role_name)',function(data){
                 //console.log(data.value);
                 if(data.value === "")
                    return false;
                 var param = data.value;
                 setCheckBox(false);
                 form.render('checkbox');

                 jq.post("{:url('usermanage/rolemanage/getrolepermission')}",{'param':param},function(data){
                   // console.log(data);
                   if(data == null)
                        return;
                    if(data.length == 0)
                        return;
                    var pos = 0;
                    jq("input[name='order_goods_permission']").each(function(){
                        if(((parseInt(data.order_goods_permission))&(1<<pos))){
                            jq(this).prop('checked',true);
                            //console.log("order_goods_permission = 1");
                        }
                        pos++;
                    });

                    pos = 0;
                    jq("input[name='replace_permission']").each(function(){
                        if(((parseInt(data.replace_permission))&(1<<pos))){
                            jq(this).prop('checked',true);
                           // console.log("order_goods_permission = 1 = "+pos);
                        }
                        pos++;
                    });

                    pos = 0;
                    jq("input[name='borrow_sample_permission']").each(function(){
                        if(((parseInt(data.borrow_sample_permission))&(1<<pos)) == (1<<pos)){
                            jq(this).prop('checked',true);
                        }
                        pos ++;
                    });

                    pos = 0;
                    jq("input[name='return_goods_permission']").each(function(){
                        if(((parseInt(data.return_goods_permission))&(1<<pos)) == (1<<pos)){
                            jq(this).prop('checked',true);
                        }
                        pos ++;
                    });

                    pos = 0;
                    jq("input[name='fixing_permission']").each(function(){
                        if(((parseInt(data.fixing_permission))&(1<<pos)) == (1<<pos)){
                            jq(this).prop('checked',true);
                        }
                        pos ++;
                    });

                    pos = 0;
                    jq("input[name='maintain_permission']").each(function(){
                        if(((parseInt(data.maintain_permission))&(1<<pos)) == (1<<pos)){
                            jq(this).prop('checked',true);
                        }
                        pos ++;
                    });

                    pos = 0;
                    jq("input[name='substitute_permission']").each(function(){
                        if(((parseInt(data.substitute_permission))&(1<<pos)) == (1<<pos)){
                            jq(this).prop('checked',true);
                        }
                        pos ++;
                    });

                    pos = 0;
                    jq("input[name='user_manage_permission_manage']").each(function(){
                        if(parseInt(data.user_manage_permission) == 1){
                            jq(this).prop('checked',true);
                        }
                        pos ++;
                    });

                    pos = 0;
                    jq("input[name='logistic_input_permission']").each(function(){
                        if(parseInt(data.logistic_input_permission) == 1){
                            jq(this).prop('checked',true);
                        }
                        pos ++;
                    });
                    form.render('checkbox');
                });

                return false;
            });

            function setCheckBox(state) {
                var pos = 0;
                jq("input[name='order_goods_permission']").each(function(){

                    jq(this).prop('checked',state);
                    pos ++;
                });

                pos = 0;
                jq("input[name='replace_permission']").each(function(){
                    jq(this).prop('checked',state);
                    pos ++;
                });

                pos = 0;
                jq("input[name='borrow_sample_permission']").each(function(){
                    jq(this).prop('checked',state);
                    pos ++;
                });

                pos = 0;
                jq("input[name='return_goods_permission']").each(function(){
                    jq(this).prop('checked',state);
                    pos ++;
                });

                pos = 0;
                jq("input[name='fixing_permission']").each(function(){
                    jq(this).prop('checked',state);
                    pos ++;
                });

                pos = 0;
                jq("input[name='maintain_permission']").each(function(){
                    jq(this).prop('checked',state);
                    pos ++;
                });

                pos = 0;
                jq("input[name='substitute_permission']").each(function(){
                    jq(this).prop('checked',state);
                    pos ++;
                });

                pos = 0;
                jq("input[name='user_manage_permission_manage']").each(function(){
                    jq(this).prop('checked',state);
                    pos ++;
                });

                pos = 0;
                jq("input[name='logistic_input_permission']").each(function(){
                    jq(this).prop('checked',state);
                    pos ++;
                });
            }

        });
        function SaveRole() {
            var jq = layui.jquery;
            var role = new Object();
            role.role_id= jq("#rolelist").val();
            if(role.role_id == "")
                return null;
            role.role_name=  jq("#rolelist").find("option:selected").text();
            var order_goods_permission = 0x0000;
            var pos = 0;
            jq("input[name='order_goods_permission']").each(function(){
                if(jq(this).prop('checked')){
                    order_goods_permission = order_goods_permission|(1<<pos);
                }
                pos++;
            });
            role.order_goods_permission = order_goods_permission;

            var replace_permission = 0x0000;
            pos = 0;
            jq("input[name='replace_permission']").each(function(){
                if(jq(this).prop('checked')){
                    replace_permission = replace_permission|(1<<pos);
                }
                pos++;
            });
            role.replace_permission = replace_permission;

            var borrow_sample_permission = 0x0000;
            pos = 0;
            jq("input[name='borrow_sample_permission']").each(function(){
                if(jq(this).prop('checked')){
                    borrow_sample_permission = borrow_sample_permission|(1<<pos);
                }
                pos++;
            });
            role.borrow_sample_permission = borrow_sample_permission;

            var return_goods_permission = 0x0000;
            pos = 0;
            jq("input[name='return_goods_permission']").each(function(){
                if(jq(this).prop('checked')){
                    return_goods_permission = return_goods_permission|(1<<pos);
                }
                pos++;
            });
            role.return_goods_permission = return_goods_permission;

            var fixing_permission = 0x0000;
            pos = 0;
            jq("input[name='fixing_permission']").each(function(){
                if(jq(this).prop('checked')){
                    fixing_permission = fixing_permission|(1<<pos);
                }
                pos++;
            });
            role.fixing_permission = fixing_permission;

            var maintain_permission = 0x0000;
            pos = 0;
            jq("input[name='maintain_permission']").each(function(){
                if(jq(this).prop('checked')){
                    maintain_permission = maintain_permission|(1<<pos);
                }
                pos++;
            });
            role.maintain_permission = maintain_permission;

            var substitute_permission = 0x0000;
            pos = 0;
            jq("input[name='substitute_permission']").each(function(){

                if(jq(this).prop('checked')){
                    substitute_permission = substitute_permission|(1<<pos);
                }
                pos++;
            });
            role.substitute_permission = substitute_permission;

            var user_manage_permission_manage = 0x0000;
            pos = 0;
            jq("input[name='user_manage_permission_manage']").each(function(){
                if(jq(this).prop('checked')){
                    user_manage_permission_manage = user_manage_permission_manage|(1<<pos);
                }
                pos++;
            });
            role.user_manage_permission_manage = user_manage_permission_manage;

            var logistic_input_permission = 0x0000;
            pos = 0;
            jq("input[name='logistic_input_permission']").each(function(){
                if(jq(this).prop('checked')){
                    logistic_input_permission = logistic_input_permission|(1<<pos);
                }
                pos++;
            });
            role.logistic_input_permission = logistic_input_permission;
            return role;
        }
    </script>
</body>
</html>